  body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: #121212;
    margin: 0px;

  }

  h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;

  }
  
  section{
    height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

  }

  footer {
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-align: center;
    background-color: #ffffff;
    color: black;
    bottom: 0px;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  i {
    color: #000000;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 500ms;
  }
  
  li {
    list-style: none;
    display: inline-block;
  }
  
  li i:hover {
    color: #3bffcb;
  }

  .pl-back{
    background: #121212;
    background-size: 100% 100%;

  }

  .test{
    background: linear-gradient(180deg,#ffffff,#3bffcb);
    background-repeat: no-repeat;
    
  }

  .zh-block{
    color: #ffffff;
    display: inline-block;
    text-align: center;
    position: absolute;
    content: "";
    left: 38%;
    top: 38%;
  }

  .pl-block {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #121212;
  }

  .span50 {
    color: white;
    width: 50%;
    text-align: center;
  }

  .row {
    float: none;
    clear: both;
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0px 1rem;
  }

  .slider-thumb::before {
    position: absolute;
    content: "";
    left: 32%;
    top: 20%;
    width: 500px;
    height: 500px;
    background: #17141d;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
  }
  
  @keyframes sliderShape {
    0%, 100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
  
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(0,5px,0) rotateZ(0.01deg);
    }
  
    50% {
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
  
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  }