body {
  font-family: 'Raleway', sans-serif;
  background-color: #0f0f23; /* Dark background color */
  margin: 0;
  font-size: 16px;
  padding: 0;
  color: #fff; /* Text color */
}

a{
  text-decoration: none;
  color: #56569a;
}

h1{
  font-size: 15vmin;
  margin: 10px;
  text-align: center;
}

h2{
  text-align: center;
  font-size: 7.5vmin;
}

.about-me p{
  text-align: center;
}


button{
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  color: #fff;
  border: 2px solid #fff; /* White outline border */
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: #1a1a33;
  border-color: #1a1a33;
  color: #fff;
  box-shadow: 0 0 10px #fff; /* Adding a glow effect */

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 20px;

}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-me, .project-buttons {
  margin-top: 30px;
}

.about-me{
  margin: 0px 15vw;
}

.project-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  color: #fff;
  border: 2px solid #fff; /* White outline border */
  border-radius: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  background-color: #1a1a33;
  min-width: 300px;
  max-width: 500px;

}
.am-container{
  padding: 50px;
  background-color: #e6e6eb;
  color: #1a1a33;
}

.proj-container{
  padding: 0px 50px;
}

.project-button:hover {
  background-color: #fff;
  border-color: #1a1a33;
  color: #1a1a33;
  box-shadow: 0 0 10px #fff; /* Adding a glow effect */

}

.footer{
  text-align: center;
  background: #1a1a33;
  padding: 25px;
  
}

.head{
  background: radial-gradient(#1a1a33, #454595); /* Slightly darker background color for header */
  padding: 20px;
}

.proj-head{
  margin: 0px 15vw;
  text-align: center;
}

.header {
  display: flex;
  width: 100%;
  color: white;
  padding: 10px 0;
  background-color: rgb(255, 255, 255, 0.1);
  justify-content: center;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header nav li {
  margin-right: 30px;
}

.header nav a {
  text-decoration: none;
  color: white;
}