@viewport {
  width: device-width ;
  zoom: 1.0 ;
}


header {
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
  padding-left: 33%;
  padding-right: 33%;
  padding-top: 25px;
  background-color: #D7D9CE;
  color: #0C7489;
  font-size: 25px;
  font-weight: 300;
}

body{
  font-family: 'Roboto Mono';
  margin: 0px;

}

h2{
  font-size: 3vh;

}

h1{
  font-size: 5vh;
}


a{
  text-decoration: none;
  color: #D7D9CE;
  transition: color .5s;

}

a:hover{
  color: #0C7489;

}

.headerA{
  color: #0C7489;

}

.headLogo{
  width: 50px;
  height: 50px;

}

.zh-block{
  color: #0C7489;
  background-color: #D7D9CE;
  height: 100vh;
  font-size: 5vh;
  margin: 0px;

}

.pl-block{
  color: #D7D9CE;
  background-color: #13505B;
  height: 50vh;
  text-align: center;

}

.am-block{
  background-color: #119DA4;
  color: #D7D9CE;
  padding-right: 20vh;
  padding-top: 5vh;
  padding-left: 20vh;
  padding-bottom: 5vh; 
  height: auto;
  margin: 0;

}

.am-block img{
  border-radius: 26% 26% 26% 26% / 0% 25% 25% 25%;
  height: 70%;
  width: 70%;

  position: relative;
  top: 20%;
  left: 10%;

  -webkit-box-shadow: 7px 7px 10px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 7px 7px 10px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 7px 7px 10px 4px rgba(0, 0, 0, 0.25);
  

}

.footer{
  height: 20vh;
  background-color: #D7D9CE;
  color: #13505B;
  text-align: center;
  margin: 0;
  padding-top: 2.5vh;
  padding-left: 20vh;
  padding-right: 20vh;
  padding-bottom: 2.5vh;

}

.footer a{
  color: #119DA4;
  transition: color .5s;

}

.footer a:hover{
  color: #0C7489;

}

.row{
  display: flex;

}

.column{
  flex: 50%;
  padding: 2vh;

}


.wrapper {
  height: 20vh;
  padding-top: 30vh;
  padding-left: 20vh;
  padding-bottom: 10vh;

}

.typing {
  width: 28ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Roboto Mono';
  font-size: 5vh;
}

.Htyping {
  width: 16ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Roboto Mono';
  font-size: 5vh;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}



.grid-block{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: fit-content;
  background: #D7D9CE;
  padding-bottom: 10px;
  margin: 0 auto;

}


.gridRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

/* Create four equal columns that sits next to each other */
.gridColumn {
  flex: 25%;
  max-width: 33%;
  padding: 0 10px;
}

.gridColumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gridColumn {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gridColumn {
    flex: 100%;
    max-width: 100%;
  }
}